/*header*/
body{
  background-color: black;
  text-align: center;
  color: seashell;
  font-family: Helvetica;
}
header {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  height: 90px;
  width: 100%;
  font-family: Helvetica;
  font-size: 22px;
  text-decoration-color:seashell;
  background-color: black;
  border-bottom: 1px solid seashell;
  opacity: 0.9;
}
.logo{
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 28px;
}
.logo img {
  display: flex;
  height:50px;
}
.header nav{
  padding-right: 40px;
}
nav a {
  display: inline-block;
  text-decoration: underline;
  color: seashell;

}

/*Our-Mission-content*/
.Our-Mission-content{
  display: flex;
  align-items: center;
  width: 1200px;
  height:700px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg );
  margin-left: auto;
  margin-right: auto;
}


.Our-Mission-content .Header-content{
  background-color: black;
  width: 1200px;
  align-items: center;
  color: seashell;
  text-align: center;
  font-family: Helvetica;
}
/*5pics&content*/
.content2{
  width: 1000px;
  height: 700px;
  padding-top: 70px;
  margin: auto;

}
.content2.Title{
  display: flex;
  align-items: center;
  color: seashell;
  width: 1000px;
 height: 700px;
 padding-top: 70px;
 margin: auto;
}

.content2{
  width: 1000px;
  height: 700px;
  padding-top: 70px;
  margin: auto;
}
.images{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.images img {
  height: 200px;
  margin: 10px;
  display: block;
}
/*Locations*/
.Locations{
  height: 500px;
  width: 1200px;
  background-image:url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  display: flex;
  justify-content: center;
  text-align: center;
  }
.Local{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.loca{
  display: flex;
  text-align: center;
}
  .Local .items{
    width: 300px;
    margin-right: 40px;
    margin-top: 15px;
    opacity: 1;
    justify-content: center;
    background-color: black;
    height:300px;
    text-align: center;


  }
